{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Index</title>
{#  Main HomePage contain links for login and registration #}
{% block content %}
<center>
    <h1>Welcome to Chat application Bridge For Sonata users and people of this country </h1><br><br>
    <hr>
    <button class="button" style="vertical-align:middle"><span><a href="{% url 'sign_in' %}">Login</a></span></button><br>
    <h3><a href="{% url 'signup' %}">Click Here to register!</a></h3><br><br>
    <hr>
    <hr>
    <h1>hello there aryan</h1>
    <h2>and we are becoming better every day</h2>
    <h1>This is new mw and this is working</h1>
    </center>
</center>>
{% endblock %}
